RTWS_ACCESS_KEY=NOT_USED
RTWS_SECRET_KEY=NOT_USED
RTWS_MOUNT_DEVICE=NOT_USED
RTWS_MANIFEST=NOT_USED
RTWS_DNS_ADDRESS=NOT_USED
RTWS_DOMAIN=tms.local.deleidos.com
RTWS_TENANT_ID=tms
RTWS_BUCKET_NAME=NOT_USED
RTWS_RUN_ATTACHER=NOT_USED
RTWS_RAID_PATH=/mnt/rdafs
RTWS_MOUNT_MODE=NOT_USED
RTWS_RELEASE={{ rtws_release }}
RTWS_SW_VERSION={{ rtws_release }}
RTWS_ROOT_LOG_LEVEL=WARN
RTWS_APP_LOG_LEVEL=WARN
RTWS_ROOT_CA=true
RTWS_STORAGE_ENDPOINT=NOT_USED
RTWS_IS_TMS=true