#!/bin/bash -e

source /etc/rtwsrc

SHUTDOWN=false

_term() { 
  printf "%s\n" "Caught SIGTERM signal!" 
  SHUTDOWN=true
}

trap _term 15

[ -f /etc/de/functions ] && . /etc/de/functions




if [ ! -d /mnt/rdafs ]; then
   echo "ERROR: A volume is required for the container and must be mounted at /mnt/rdafs"
   exit 1
fi


if [ ! -d /mnt/rdafs/tmp/repository ]; then
   mkdir -pv /mnt/rdafs/tmp/repository
   chown -c jetty:rtws /mnt/rdafs/tmp/repository
fi


echo "Starting moc AWS metadata Service"
/sbin/ifconfig lo:1 inet 169.254.169.254 netmask 255.255.255.255 up
java -jar /sbin/md.jar &
sleep 1m


cd /usr/local/rtws/cert-auth/bin
   /usr/local/rtws/cert-auth/bin/setup_env.sh true
cd -

cd /usr/local/rtws/boot-apps/bin
   /usr/local/rtws/boot-apps/bin/run_certgeneration.sh
cd -

cd /usr/local/rtws/commons-core/bin/boot/
   /usr/local/rtws/commons-core/bin/boot/setup_ssl_keystores.sh
cd -




cd /usr/local/jetty/bin/
   /usr/local/jetty/bin/jetty_start.sh
cd -
   
jetty_watchdog

cd /usr/local/jetty/bin/
   /usr/local/jetty/bin/jetty_stop.sh